*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: rgb(1, 1, 34);
    color: aliceblue;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 10%;
    
}
.logo{
    color: azure;
    font-size: 25px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
 
.header{
    display: flex;
}
.header  a{
    color: beige;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 2px;
    border-radius: 5px;
    transition: all .40 ease;
    transform:  scale(1.01) translate(-5px)s;
    background: transparent;
    transition: all .40s ease;
    border: none;
}
.header a:hover{
    background: gray;
    color: wheat;
}
section{
    padding: 160px 10% 90px;
}
.home{
    height: 100pvh;
    width: 100%;
}
.home-text h1{
    margin: 20px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}
span{
    color: brown;
}
.home-text h4{
    color: rgb(128, 128, 128);
    font-size: 80px;
    font-weight: 800;
}
.home-text h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 3rem;
}
/* .home-image{
    position: relative;
    width: 2oem;
    padding: ;
    align-items: center;
} */

.btn{
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: grey;
    color: white;
    border: 1px solid #dd2727;
    transition: all .40s ease;
}
.btn:hover{
    transform:  scale(1.01) translate(-5px)s;
    background: transparent;
    border: 1px solid;
}

.about-text h4{
    margin: 10px 0;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
}
.about-text h2{
    font-size: 40px;
}
.about-text p{
    color: rgb(215, 247, 247);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.about-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px, auto));
    font-size: 40px;
}


.about-in h5{
    font-size: 25px;
    font-weight: 600;
}

.main-text{
   font-size: 30px;
   font-weight: 900;
   font-family: sans-serif;

}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.box{
    padding: 45px;
    background: black;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    transition: all .40s ease;
    cursor: pointer;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}
.box p{
    color: #c5c1c1;
    font-size: 1.1rem;
    line-height: 30px;
}
.box:hover{
    transform: scale(1.01) translate(-5px);
    border-top: 5px solid #ff8282;
}
.box:hover h3{
    color: rgb(51, 255, 0);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.row{
    padding: 25px;
    background: black;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.row h3{
    font-size: 25px;
    font-weight: 700;
}

.row h6{
    color: lime;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.row-icon i{
    font-size: 21px;
}
.row:hover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}

.contact-text{
    margin: 15px 0;
    color: orange;
    font-weight: 600;
}

.contact-text h2{
    font-size: 3.5rem;
    color: yellow;
}

.contact-text p{
    color: peachpuff;
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-bottom: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list li a{
    display: block;
    color: #c5c1c1;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .40 ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: rgb(7, 7, 192);
}

.contact-icon i{
    height: 40px;
    width: 40px;
    background: black;
    border-radius: 0.5rem;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}

.contact-icon i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #fff;
    background-color: blue;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background: peachpuff;
    color: #fff;
    width: 190px;
    transition: all .40s ease;
    cursor: pointer;
}

.last-text p{
    text-align: center;
    padding: 15px;
    color: #c5c1c1;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}


.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}


.top i{
    color: white;
    background: orangered;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media (max-width: 1325px) {
    header {
        padding: 16px 3%;
    }
    header.sticky {
        padding: 8px 3%;
    }
    section{
        padding:130px 3% 60px;
    }
}

@media (max-width: 970px) {
    :root {
        --h1-font:5.2rem;
        --h2-font: 3[5rem];
        --p-font:1.1rem;
    }
    section{
        padding: 70px 3% 60px;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
    }
    .contact{
        grid-template-columns: 3fr;
    }
}

@media (max-width: 830px) {
    #menue-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: black;
        text-align: left;
        transition: all .40s ease;
    }
    .navbar a {
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    .navbar.active {
        top: 100%;
    }
    :root {
        --h1-font: 5.2rem;
        --h2-font: 3.5rem;
    }
}



.last-text input {
    width: 70%;
    border: solid grey;
    padding: 2em;
    background: black;
    
}
